* {
	margin: 0;
	padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap");

body {
	font-family: "Source Sans Pro", sans-serif;
}
button {
	margin: 10px 0px;
}
a:hover {
	color: #a62080 !important;
	text-decoration: underline;
}
.btn__black {
	width: 130px;
	height: 30px;
	background-color: #000;
	border-radius: 18px;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	border: none;
	padding: 0;
}
.btn__black:hover {
	background-color: #fab511;
	color: #000;
}
/*HEADER*/
.header {
	margin-top: 30px;

	.header__logo {
		margin: auto;
		text-align: center;

		.header__imglogo {
			width: auto;
			height: 100px;
		}
	}
}
/*MENU*/
.menu__links--a {
	color: #000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 600;
	padding: 0 18px;
}

/*HOME*/
.hero {
	background-image: url(../img/home/banner.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;

	.hero__box1 {
		text-align: center;
	}
	.hero__title {
		font-size: 45px;
		font-weight: 700;
		color: #a62080;
		margin-bottom: 5px;
	}
	.hero__parrafo {
		font-size: 18px;
		font-weight: 400;
		color: #000;
		margin-top: 5px;
	}
}

/*Section 2 INFO EMPRESA*/
.box__card {
	height: 360px;
	background-color: #ffe979;
	border-radius: 36px;
	padding: 25px;
	box-sizing: border-box;

	.box__card--destacado {
		font-size: 16px;
		font-weight: 600;
		color: #95722d;
		margin: 0;
	}
	.box__card--title {
		font-size: 25px;
		font-weight: 600;
		color: #000;
		margin: 20px 0px 0px 0px;
	}
	.box__card--info {
		font-size: 16px;
		font-weight: 400;
		color: #000;
		width: 60%;
	}
	.box__card--adorno {
		width: auto;
		height: 220px;
		float: right;
		margin-top: -120px;
		margin-right: -60px;
	}
}

.box__info {
	background-color: transparent;

	.box__info--title {
		font-size: 35px;
		font-weight: 700;
		color: #98328a;
		margin-top: 0;
	}
	.box__info--span {
		font-weight: 400;
		color: #000;
	}
	.box__info--parrafo {
		font-size: 18px;
		font-weight: 400;
		color: #000;
	}
}

/*Section 3 INFO BANNER*/
.banner__info {
	background-image: url(../img/home/background.png);
	background-color: transparent;
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
	height: 460px;

	.banner__info--title {
		font-size: 35px;
		font-weight: 700;
		color: #000;
		margin-top: 0;
	}
	.banner__info--span {
		font-weight: 400;
	}
	.banner__info--text {
		font-size: 18px;
		font-weight: 400;
		color: #000;
	}
}

/*Section 4 TEAM*/
.team {
	height: auto;
	text-align: center;
	.team__box {
		height: auto;
		text-align: center;
		margin: auto;
	}
	.team__h3title {
		font-size: 35px;
		font-weight: 700;
		color: #98328a;
		margin-top: 0;
	}
	.team_span {
		font-weight: 400;
		color: #000;
	}
	.team__parrafo {
		font-size: 18px;
		font-weight: 400;
		color: #000;
	}
	.team_card {
		height: auto;
	}
	.team__card--user {
		height: 90px;
		margin: auto;
	}
	.team_card--testimonio {
		font-size: 16px;
		font-weight: 400;
		color: #000;
		text-align: center;
		font-style: italic;
	}
	.team__card--nombre {
		font-size: 16px;
		font-weight: 600;
		color: #000;
		text-align: center;
		margin: 0;
	}
	.team__card-span {
		font-size: 16px;
		font-weight: 400;
		color: #8b4394;
		text-align: center;
	}
}

/*NOSOTROS*/
.aboutHero {
	background-image: url(../img/internas/img-conocenos.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 300px;
	margin-top: 50px;
	padding-top: 40px;
	align-items: center;
	display: grid;

	.aboutBox__title {
		font-size: 50px;
		font-style: italic;
		color: #fea500;
		font-weight: 600;
		text-align: center;
		margin-bottom: 0;
	}
	.aboutBox__subtitle {
		font-size: 20px;
		color: #000000;
		font-weight: 400;
		text-align: center;
		margin-top: 0;
		line-height: 1.5;
	}
}

/*SECCION INFORMACION*/
.aboutInfo {
	height: auto;
	display: flex;
	margin-top: 50px;
	margin-bottom: 50px;
	justify-content: space-evenly;

	.aboutInfo__box--title {
		font-size: 20px;
		font-weight: 600;
		color: #98328a;
	}
	.aboutInfo__box--text {
		font-size: 16px;
		font-weight: 400;
		color: #000;
	}

	.aboutInfo__box--li {
		list-style-type: disclosure-closed;
		list-style-position: inside;
		font-size: 14px;
		line-height: 2;
	}
	.aboutInfo__box--li::marker {
		color: #fea500;
	}
}

.box__table {
	background-color: transparent;

	.box__table--title {
		font-size: 20px;
		font-weight: 600;
		color: #98328a;
	}
	.box__table--table {
		border: solid 2px #a62080;
		border-radius: 10px;
		width: 100%;

		.box__table--th {
			background-color: #ccc;
			text-align: center;
		}
		.box__table--td {
			text-align: center;
			font-size: 14px;
			font-weight: 400;
		}
		.box__table--price {
			font-size: 16px;
			font-weight: 700;
			color: #a62080;
		}
	}
}

/*SERVICIOS*/
.serv__hero {
	background-color: #000;
	height: 200px;

	.serv__hero--title {
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		color: #ffffff;
		-o-text-overflow: clip;
		text-overflow: clip;
		white-space: pre;
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
			0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de;
		-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
		-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
		-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
		transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	}
	.serv__hero--title:hover {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fab511,
			0 0 70px #fab511, 0 0 80px #fab511, 0 0 100px #fab511;
	}
}

.serv__card {
	background-color: #f9f9f9;
	height: auto;
	border-radius: 10px;
	padding: 20px;
	text-align: center;

	.serv__card--title {
		font-size: 20px;
		font-weight: 600;
		color: #fab511;
		text-align: center;
	}
	.serv__card--text {
		font-size: 16px;
		font-weight: 400;
		color: #000;
		text-align: center;
	}
	.serv__card--ul {
		margin-top: 30px;
	}
	.serv__card--li {
		font-size: 14px;
		font-weight: 600;
		color: #8b4394;
		text-align: left;
	}
}

/*BLOG*/
.blog__banner {
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	height: 250px;
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 200px;
	text-align: center;

	.blog__banner--title {
		font-size: 50px;
		font-weight: 600;
		color: #000;
	}
}

.blog__articulo {
	height: 190px;
	border: 2px solid #8b4394;
	border-radius: 20px;
	padding: 10px 0px;
	align-items: center;
	display: grid;
	justify-items: center;
	background-image: url(../img/internas/img-blog.png);
	background-position: center;

	.blog__articulo:hover {
		background: rgb(238, 174, 202);
		background: radial-gradient(
			circle,
			rgba(238, 174, 202, 0.24833683473389356) 0%,
			rgba(148, 187, 233, 0.19511554621848737) 100%
		);
	}
	.blog__articulo--title {
		font-size: 20px;
		font-weight: 600;
		color: #a62080;
		text-align: center;
	}
	.blog__articulo--text {
		font-size: 16px;
		font-weight: 400;
		color: #000;
		text-align: center;
	}
}

/*CONTACTO*/
.formu__box {
	padding: 20px;
	border: 2px solid #7f126e;
	border-radius: 10px;

	.formu__box--title {
		font-size: 20px;
		font-weight: 600;
		color: #a62080;
		text-align: center;
	}
	.formu__box--label {
		margin-bottom: 10px;
	}
	.formu__box--setupLabel {
		font-size: 16px;
		font-weight: 600;
		color: #000;
	}
	.formu__box--setupDatos {
		border-radius: 10px;
		border: 1px solid #a62080;
		padding: 15px;
		width: 60%;
		margin-top: 5px;
	}
	.formu__box--setupPresupuesto {
		margin-right: 10px;
	}
	.formu__box--setupEnviar {
		width: 130px;
		height: 30px;
		background-color: #000;
		border-radius: 18px;
		font-size: 16px;
		font-weight: 600;
		color: #fff;
		border: none;
	}
	.formu__box--setupEnviar:hover {
		background-color: #fab511;
		color: #000;
  }
}
.formu__img--contacto{
  background-image: url(../img/internas/img-contacto.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 300px;
}
