@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Source Sans Pro", sans-serif; }

button {
  margin: 10px 0px; }

a:hover {
  color: #a62080 !important;
  text-decoration: underline; }

.btn__black {
  width: 130px;
  height: 30px;
  background-color: #000;
  border-radius: 18px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  border: none;
  padding: 0; }

.btn__black:hover {
  background-color: #fab511;
  color: #000; }

/*HEADER*/
.header {
  margin-top: 30px; }
  .header .header__logo {
    margin: auto;
    text-align: center; }
    .header .header__logo .header__imglogo {
      width: auto;
      height: 100px; }

/*MENU*/
.menu__links--a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  padding: 0 18px; }

/*HOME*/
.hero {
  background-image: url(../img/home/banner.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hero .hero__box1 {
    text-align: center; }
  .hero .hero__title {
    font-size: 45px;
    font-weight: 700;
    color: #a62080;
    margin-bottom: 5px; }

/*Section 2 INFO EMPRESA*/
.box__card {
  height: 360px;
  background-color: #ffe979;
  border-radius: 36px;
  padding: 25px;
  box-sizing: border-box; }
  .box__card .box__card--destacado {
    font-size: 16px;
    font-weight: 600;
    color: #95722d;
    margin: 0; }
  .box__card .box__card--title {
    font-size: 25px;
    font-weight: 600;
    color: #000;
    margin: 20px 0px 0px 0px; }
  .box__card .box__card--info {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    width: 60%; }
  .box__card .box__card--adorno {
    width: auto;
    height: 220px;
    float: right;
    margin-top: -120px;
    margin-right: -60px; }

.box__info {
  background-color: transparent; }
  .box__info .box__info--title {
    font-size: 35px;
    font-weight: 700;
    color: #98328a;
    margin-top: 0; }
  .box__info .box__info--span {
    font-weight: 400;
    color: #000; }
  .box__info .box__info--parrafo {
    font-size: 18px;
    font-weight: 400;
    color: #000; }

/*Section 3 INFO BANNER*/
.banner__info--container {
  display: flex;
  align-items: flex-end; }

.banner__info {
  background-image: url(../img/home/background.png);
  background-color: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 540px; }
  .banner__info .banner__info--title {
    font-size: 35px;
    font-weight: 700;
    color: #000;
    margin-top: 0; }
  .banner__info .banner__info--span {
    font-weight: 400; }
  .banner__info .banner__info--text {
    font-size: 18px;
    font-weight: 400;
    color: #000; }

/*Section 4 TEAM*/
.team {
  height: auto;
  text-align: center; }
  .team .team__box {
    height: auto;
    text-align: center;
    margin: auto; }
  .team .team__h3title {
    font-size: 35px;
    font-weight: 700;
    color: #98328a;
    margin-top: 0; }
  .team .team_span {
    font-weight: 400;
    color: #000; }
  .team .team__parrafo {
    font-size: 18px;
    font-weight: 400;
    color: #000; }
  .team .team_card {
    height: auto; }
  .team .team__card--user {
    height: 90px;
    margin: auto; }
  .team .team_card--testimonio {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: center;
    font-style: italic; }
  .team .team__card--nombre {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin: 0; }
  .team .team__card-span {
    font-size: 16px;
    font-weight: 400;
    color: #8b4394;
    text-align: center; }

/*NOSOTROS*/
.aboutHero {
  height: 300px;
  margin-top: 50px;
  align-items: center;
  display: grid; }
  .aboutHero .aboutBox__title {
    font-size: 50px;
    font-style: italic;
    color: #fea500;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0; }
  .aboutHero .aboutBox__subtitle {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    text-align: center;
    margin-top: 0;
    line-height: 1.5; }

/*SECCION INFORMACION*/
.aboutInfo {
  height: auto;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-evenly; }
  .aboutInfo .aboutInfo__box--title {
    font-size: 20px;
    font-weight: 600;
    color: #98328a; }
  .aboutInfo .aboutInfo__box--text {
    font-size: 16px;
    font-weight: 400;
    color: #000; }
  .aboutInfo .aboutInfo__box--li {
    list-style-type: disclosure-closed;
    list-style-position: inside;
    font-size: 14px;
    line-height: 2; }
  .aboutInfo .aboutInfo__box--li::marker {
    color: #fea500; }

.card__team {
  display: grid;
  justify-content: center; }
  .card__team .card__team--avatar {
    width: auto;
    height: 250px;
    border-radius: 100px; }
  .card__team .card__team--name {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-align: center; }
  .card__team .card__team--cargo {
    font-size: 18px;
    font-weight: 600;
    color: #191919;
    text-align: center; }

.box__table {
  background-color: transparent; }
  .box__table .box__table--title {
    font-size: 20px;
    font-weight: 600;
    color: #98328a; }
  .box__table .box__table--table {
    border: solid 2px #a62080;
    border-radius: 10px;
    width: 100%; }
    .box__table .box__table--table .box__table--th {
      background-color: #ccc;
      text-align: center; }
    .box__table .box__table--table .box__table--td {
      text-align: center;
      font-size: 14px;
      font-weight: 400; }
    .box__table .box__table--table .box__table--price {
      font-size: 16px;
      font-weight: 700;
      color: #a62080; }

/*SERVICIOS*/
.serv__hero {
  background-image: url(../img/internas/bg-servicios.jpg);
  height: 350px;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover; }
  .serv__hero .serv__hero--title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-align: right; }
  .serv__hero .serv__hero--bajada {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    text-align: right; }

.serv__card {
  background-color: #f9f9f9;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  height: 250px;
  position: relative;
  display: grid;
  justify-items: center; }
  .serv__card .serv__card--title {
    font-size: 20px;
    font-weight: 600;
    color: #fab511;
    text-align: center; }
  .serv__card .serv__card--text {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: center; }
  .serv__card .serv__card--btn {
    position: absolute;
    bottom: 0px; }

/*BLOG*/
.blog__banner {
  background-image: url(../img/internas/hero-shop.jpg);
  background-size: cover;
  height: 250px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .blog__banner .blog__banner--title {
    font-size: 50px;
    font-weight: 600;
    color: #fff; }

.blog__articulo--01 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/internas/article3.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.blog__articulo--02 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/internas/blog-post-2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.blog__articulo--03 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/internas/blog-post-3.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.blog__articulo--04 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/internas/blog-posts-2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.blog__articulo--05 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/internas/blog-post-6.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.blog__articulo {
  height: 190px;
  border: 2px solid #8b4394;
  border-radius: 20px;
  padding: 10px 0px;
  align-items: center;
  display: grid;
  justify-items: center;
  background-position: center; }
  .blog__articulo .blog__articulo:hover {
    background: #eeaeca;
    background: radial-gradient(circle, rgba(238, 174, 202, 0.248337) 0%, rgba(148, 187, 233, 0.195116) 100%); }
  .blog__articulo .blog__articulo--title {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-align: center; }
  .blog__articulo .blog__articulo--text {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center; }

/*CONTACTO*/
.formu__box {
  padding: 20px;
  border: 2px solid #7f126e;
  border-radius: 10px; }
  .formu__box .formu__box--title {
    font-size: 20px;
    font-weight: 600;
    color: #a62080;
    text-align: center; }
  .formu__box .formu__box--label {
    margin-bottom: 10px; }
  .formu__box .formu__box--setupLabel {
    font-size: 16px;
    font-weight: 600;
    color: #000; }
  .formu__box .formu__box--setupDatos {
    border-radius: 10px;
    border: 1px solid #a62080;
    padding: 15px;
    width: 60%;
    margin-top: 5px; }
  .formu__box .formu__box--setupPresupuesto {
    margin-right: 10px; }
  .formu__box .formu__box--setupEnviar {
    width: 130px;
    height: 30px;
    background-color: #000;
    border-radius: 18px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: none; }
  .formu__box .formu__box--setupEnviar:hover {
    background-color: #fab511;
    color: #000; }

.formu__img--contacto {
  background-image: url(../img/internas/img-contacto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 300px; }

@media (min-width: 576px) {
  .hero {
    background-size: cover;
    height: 400px; }
  .banner__info {
    background-position: right;
    height: 460px; } }

@media (min-width: 768px) {
  .aboutHero {
    background-image: url(../img/internas/img-conocenos.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover; }
  .box__card .box__card--adorno {
    height: 180px; }
  .banner__info {
    background-position: top center;
    height: 620px; }
  .serv__hero {
    background-image: url(../img/internas/bg-servicios.jpg);
    height: 350px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain; } }

@media (min-width: 992px) {
  .box__card .box__card--adorno {
    height: 240px; }
  .banner__info {
    height: 400px;
    background-position-x: 380px; } }

@media (min-width: 1200px) {
  .banner__info {
    background-position-x: right; } }
